@model Tp.Models.EF.Client
@{
    ViewBag.Title = "Register";
    
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary()
    //@Html.HiddenFor(i => i.IdClient)
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Prenom, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Prenom, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Prenom)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nom, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Nom, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nom)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sexe, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Sexe, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Sexe)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Courriel, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Courriel, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Courriel)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telephone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Telephone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Telephone)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumeroCivique, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.NumeroCivique, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NumeroCivique)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rue, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Rue, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Rue)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ville, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Ville, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Ville)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Province, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Province, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Province)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CodePostal, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.CodePostal, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CodePostal)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumeroPermis, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.NumeroPermis, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NumeroPermis)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Photo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Photo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Photo)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
