<div class="main">
    <div class="content-box">
        <div class="wrap">
            <div class="banner2">
                <a href="#">
                    <div class="price">$5000</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="content-box1">
        <div class="wrap">
            <div class="banner2">
                <a href="#">
                    <div class="price">$4000</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="wrap">
        <div class="main-box">
            <div class="box_wrapper"><h1>Featured Products</h1></div>
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <img src="@Url.Content("~/Images/Produits/hydroCar150.jpg")" alt="" />
                    <div class="grid_desc">
                        <p class="title">Lorem ipsum dolor sitconsectetueradipis</p>
                        <p class="title1">Lorem ipsum dolor sitconsectetueradipis</p>
                        <div class="price1" style="height: 19px;">
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span>
                        </div>
                    </div>
                    <div class="Details">
                        <a href="single.html" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="@Url.Content("~/Images/Produits/GibbsAquada150.jpg")" alt="" />
                    <div class="grid_desc">
                        <p class="title">Lorem ipsum dolor sitconsectetueradipis</p>
                        <p class="title1">Lorem ipsum dolor sitconsectetueradipis</p>
                        <div class="price1" style="height: 19px;">
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span>
                        </div>
                    </div>
                    <div class="Details">
                        <a href="single.html" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="@Url.Content("~/Images/Produits/lotus-elise150.jpg")" alt="" />
                    <div class="grid_desc">
                        <p class="title">Lorem ipsum dolor sitconsectetueradipis</p>
                        <p class="title1">Lorem ipsum dolor sitconsectetueradipis</p>
                        <div class="price1" style="height: 19px;">
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span>
                        </div>
                    </div>
                    <div class="Details">
                        <a href="single.html" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a>
                    </div>
                </div>
                
                <div class="clear"></div>
            </div>
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <img src="@Url.Content("~/Images/Produits/scamander-150.jpg")" alt="" />
                    <div class="grid_desc">
                        <p class="title">Lorem ipsum dolor sitconsectetueradipis</p>
                        <p class="title1">Lorem ipsum dolor sitconsectetueradipis</p>
                        <div class="price1" style="height: 19px;">
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span>
                        </div>
                    </div>
                    <div class="Details">
                        <a href="single.html" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="@Url.Content("~/Images/Produits/Terra-Wind-150.jpg")" alt="" />
                    <div class="grid_desc">
                        <p class="title">Lorem ipsum dolor sitconsectetueradipis</p>
                        <p class="title1">Lorem ipsum dolor sitconsectetueradipis</p>
                        <div class="price1" style="height: 19px;">
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span>
                        </div>
                    </div>
                    <div class="Details">
                        <a href="single.html" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="@Url.Content("~/Images/Produits/WaterCar_Panther150.jpg")" alt="" />
                    <div class="grid_desc">
                        <p class="title">Lorem ipsum dolor sitconsectetueradipis</p>
                        <p class="title1">Lorem ipsum dolor sitconsectetueradipis</p>
                        <div class="price1" style="height: 19px;">
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span>
                        </div>
                    </div>
                    <div class="Details">
                        <a href="single.html" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a>
                    </div>
                </div>
                <div class="section group">
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="@Url.Content("~/Images/Produits/quadski150.jpg")" alt="" />
                        <div class="grid_desc">
                            <p class="title">Lorem ipsum dolor sitconsectetueradipis</p>
                            <p class="title1">Lorem ipsum dolor sitconsectetueradipis</p>
                            <div class="price1" style="height: 19px;">
                                <span class="reducedfrom">$66.00</span>
                                <span class="actual">$12.00</span>
                            </div>
                        </div>
                        <div class="Details">
                            <a href="single.html" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>